.result-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 390px;
  background-color: #FEB483; // 배경색
  height: 100vh;
  background-size: cover;
  overflow: hidden; 

  .img-div {
    position: absolute; /* 컨테이너 기준으로 배치 */
    top: 80px; /* 주황색과 흰색 배경의 중간에 배치 */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2; /* 박스 위에 배치 */

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%; /* 이미지도 동그랗게 */
    }
  }

  .result-box {
    flex: 1;
    height: calc(100vh - 150px);
    width: 390px;
    background-color: white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    // overflow-y: auto;
    padding: 20px;

    /* 스크롤바 숨기기 */
    &::-webkit-scrollbar {
      display: none; /* 크롬, 사파리 스크롤바 숨김 */
    }
    -ms-overflow-style: none; /* IE 스크롤바 숨김 */
    scrollbar-width: none; /* 파이어폭스 스크롤바 숨김 */

    .result-description {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      margin-top: 3rem;
    
      .review {
        margin-top: 1rem; /* img-div의 크기를 고려 */
        text-align: center;
        font-size: 16px;
    
        p:first-of-type {
          font-size: 18px;
          font-weight: bold;
          color: #333;
        }
    
        p:last-of-type {
          font-size: 14px;
          color: #666;
        }
      }
    }

    .detail-review {
      font-size: 14px;
      color: #555;
      margin-bottom: 20px;
    }

    .progressbar-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
    }

    .traits-container {
      display: flex;
      flex-direction: column;
      // flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      padding-left: 10px;

      ul {
        font-size: 14px;
        color: #848484;
      }
    }
    .button-container{
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 1rem;

      .icon-btn {
        background-color: white;
        border: 1px solid #FF7920;
        color : #FF7920;
        border-radius: 100px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon{
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
